---
layout: default
permalink: "svetmak"
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{{ site.social_urls.instagram }}"><strong>{{ site.header.title }}</strong></a></h1>
        <nav>
            <ul>
                    <li><a href="#footer" class="icon fa-info-circle">{{site.header.about_ph}}</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' and image.path contains page.permalink %}
        <article class="thumb">
            <a href="{{ site.baseurl }}/{{page.permalink}}/{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}/{{page.permalink}}/{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div class='avatars'>
                <section>
                    Heeeyy
                {% for image in site.static_files %}
                {% if image.path contains page.permalink %}
                {% if image.path contains 'full' %}
                {% unless image.path contains 'images' %}
                <img src="{{ site.baseurl }}{{ image.path }}" data-name="{{ image.name }}">
                {% endunless %}
                {% endif %}
                {% endif %}
                {% endfor %}
                </section>
            </div>
            <div>
                <section>
                    <h2>{{ site.data.phs[page.permalink].name }}</h2>
                    <p>{{ site.data.phs[page.permalink].bio }}</p>
                </section>
                <section>
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Услуга</th>
                                    <th>Время</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                {% for data in site.data.phs[page.permalink].services %}
                                        <tr>
                                            <td>{{data.name}}</td>
                                            <td>{{data.time}}</td>
                                            <td>{{data.price}}</td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>         
                </section>
                <section>
                    <div class="buttons">
                    {% if site.social_urls.instagram %}
                        <a class="btn btn-primary btn-lg btn-block" href="{{ site.social_urls.instagram }}" role="button">Заказать фотосессию</a>
                    {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </footer>
</div>
